replicaCount: 1
image:
  repository: controltheory/supervisor
  pullPolicy: Always
  tag: v1.2.0

deployment:
  controlplane:
    admission_token: "you-need-to-provide-it"
    endpoint: "ws://controlplane:4320/v1/opamp"
  args:
    - --config
    - /config.yaml
#  nodeSelector:
#    node-role.kubernetes.io/agent: ""
resources:
  enabled: true
  cpu:
    request: 100m
    limit: 250m
  memory:
    request: 500Mi
    limit: 1Gi

serviceAccount:
  create: true

service:
  otelhttp:
    type: ClusterIP
    port: 4318
  otelgrpc:
    type: ClusterIP
    port: 4317
  statsd:
    type: ClusterIP
    port: 8125

autoscaling:
  enabled: false
#
ingress:
  enabled: false
