replicaCount: 1
image:
  repository: controltheory/supervisor
  pullPolicy: Always
  tag: v1.1.0

deployment:
  controlplane:
    admission_token: "you-need-to-provide-it"
    endpoint: "ws://controlplane:4320/v1/opamp"
  args:
    - --config
    - /config.yaml

resources:
  enabled: true
  cpu:
    request: 100m
    limit: 500m
  memory:
    request: 512Mi
    limit: 2Gi

serviceAccount:
  create: true

service:
  otelhttp:
    type: ClusterIP
    port: 4318
  otelgrpc:
    type: ClusterIP
    port: 4317
